body {
    background-color: aqua;
}

img {
    width: 300px;
    height: 300px;
    margin: 0;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

.memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-meme {
    flex-shrink: 1;
    flex-basis: 20.01%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    background: cornflowerblue;
    box-shadow: -20px -20px 60px #bebebe,
        20px 20px 60px #ffffff;
}


.title-meme {
    display: flex;
    justify-content: center;
}